.jumbotron{
    background-image: url('img/jumbo-bg.png');
    height: 80vh;
    width: 100%;
    background-size:cover;
}
.containerfluid{
    margin: 0;
}
.row{
    margin-left: 2rem;
}
.orange{
    background-color: rgb(255, 102, 0);
}
.sony-bar{
    height: 4vh;
    background-color: black;
}
.sony-bar>img{
    width: 5%;
    float: right;
    margin-top: 1vh;
    margin-right:1vh ;
}