body{
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron{
    background-image: url('img/jumbo-bg.png');
    background-size:cover;
}
.jumbocol{
    margin-top: 30vh;
    height: 45vh;
}
.banner{
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    background-size:cover;
}
.ittakestwo{
    margin-top: 12vh;
    height: 60vh;
}
.cont{
    margin-top: 104.5px;
}
div[class*=row]{
    padding:0 2rem;
    margin: 0;
}
.orange{
    background-color: rgb(255, 102, 0);
    width: 118px;
}
.sony-bar{
    height: 4vh;
    background-color: black;
}
.sony-bar>img{
    width: 77px;
    float: right;
    /* height: 28.5px; */
    margin-top: .4rem;
    margin-right:.4rem ;
}
.icon{
    border-radius: 1.4rem;
}
.icon-frame{
    border-radius: 1.6rem;
}
.p-right5{
    padding-right: 5rem;
}
.p-custom-1{
    padding: .08rem;
}
.p-custom-2{
    padding: 1rem 4rem;
}
.icons>div{
    margin-top: 1rem;
}
.C-ps5>.txt{
    height: 13rem;
}
.moreinfo{
    width: 183px;
}
.my-active{
    border-bottom: 2px solid rgb(51, 98, 250);
}
.Psp-1, .Psn-1{
    padding: 3rem 0.7rem;
}
.PSnow{
    background-color: #161c3b   ;
}
.footer{
    background-color: #00439c;
}
.col-fot{
    padding: 4rem 0;
}
.col-fot>img{
    width: 15%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.my-opacity-75{ /*quello è stato fatto per avere la possibiltà di sovrascriverlo col hover*/
    opacity: .75;
    margin-bottom: 2px;
}
.product:hover{
    opacity: 1;
    margin-bottom: 0;
    border-bottom: 2px solid rgb(51, 98, 250);
}
.grow img {
    transition: all .2s ease-in; 
}
.grow img:hover{
    transform: scale(1.04);
}
.no-grow{
    transform: scale(1)!important;
}
/* .Psp-2, .Psn-2{
    min-width: 409.2px;
} */
/* @media  and (max-width:992px) {
    .PSplus{
        max-height:300.11px ;
    }
} */






@media screen and (max-width:768px) {
    .product span{
        display: none;
    }
    .product{
        padding: 0 0.4rem;
    }
    .p-right5{
        padding-right: 3rem;
    }
}